.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute space between cards */
    margin: 0; /* Adjust margin as needed */
}

.card {
    width: calc(50% - 10px); /* Two cards per row with margin */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: border-color 0.3s, transform 0.3s; /* Add transition for smooth effect */
}

.card:hover {
    border-color: #3F79AB; /* Change border color on hover */
    transform: scale(1.05); /* Zoom effect on hover */
}

.card img {
    padding: 0;
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.card p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
}
