/* components/Header.css */

/* Header styles */
.header {
    background-color: #333; /* Default background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0); /* Add box shadow */
}

/* Logo styles */
.logo-img {
    height: 50px; /* Adjust the height as needed */
    margin-right: 16px; /* Adjust margin as needed */
}

/* Title styles */
.title-link {
    flex-grow: 1;
    text-decoration: none;
    color: #fff; /* Default text color */
}

/* Navigation links styles */
.nav-link {
    margin-right: 16px; /* Adjust margin as needed */
    text-decoration: none;
    color: #fff; /* Default text color */
}
