/* Header styles */
.header {
    background-color: #333; /* Default background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Logo styles */
.logo-img {
    height: 50px; /* Adjust the height as needed */
    margin-right: 20px; /* Adjust margin as needed */
}