.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure modal is on top of other content */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
}

.modal-content {
    border-radius: 8px;
    z-index: 1000; /* Ensure modal content is on top of overlay */
    max-width: 80%;
    min-width: 700px;
    max-height: 80%;
}

.modal-inline {
    display: flex;
}

.close {
    color: #882e2e;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
}

.modal-body {
    display: flex;
}

.instrument-details {
    min-width: 300px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: #ffffff;
    flex: 2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */

}

.instrument-details h2 {
    color: #882e2e;
    text-align: center;
}

.modal-circle-image {
    height: 75%;
    display: flex;
    justify-content: center; /* Center horizontally */
    position: absolute;
    top: 60%;
    transform: translateY(-50%); /* Center vertically */
    left: 0;
    right: 0;
}

.instrument-image {
    align-items: center;
    max-height: 90%;
    max-width: 90%;
    object-fit: contain;
}

.instrument-header {
    color: #000000;
    font-size: 18px;
    width: 100%;
    background-color: #ffffff;
    /*background-color: rgba(136, 46, 46, 0.95);*/
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}

.similar-instruments {
    border-radius: 8px;
    color: #882e2e;
    margin-top: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */

}

.similar-instruments h2 {
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 10px;
}

.similar-cards {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.similar-instrument {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 4px;
    border-radius: 8px;
    margin: 12px 20px;
    background-color: #ffffff;
    width: 120px;
    height: 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
    transition: transform 0.5s, box-shadow 0.9s;
}

.similar-instrument:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s, transform 0.5s; /* Add transition for smooth effect */
    transform: scale(1.05);
}

.similar-instrument-image {
    max-height: 90px;
    max-width: 90px;
}

.similar-instrument-wrapper {
    opacity: 1;

}

.modal-plus {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 16px;
    opacity: .95;
}

.coverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Dark grey overlay with opacity 0.7 */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 8px;
    pointer-events: none; /* Prevents overlay from capturing clicks */
}

.similar-instrument:hover .coverlay {
    opacity: 1;
}

.instrument-name {
    color: #575757;
    font-size: 18px;
    text-align: center;
}
